#site-title {
    color: black;
    text-align: center;
    font-size: 100px;
    
}

body {
    height: calc(100vh - 300px);
    background-color: beige;
    
}

header {
height: 200px;
border-style: dashed;
background-color: beige;
}

main {
height: 100%;
border-style: dashed;
font-size: 50px;
}

footer {
height: 100px;
border-style: solid;
color: white;
background-color: black;
font-size: 30px;

}